
<!-- START JUMBOTRON -->

  <div class="jumbotron text-center">
    <div class="fixed fixed-background fixed-wrap">
      <h1>Saved Articles</h1>
      <p>Your Saved Articles</p>

      <button type="button" class="btn btn-secondary clear-old">Clear the Articles</button>

    </div>
  </div>

<!-- END JUMBOTRON -->

<!-- START SCRAPED ARICLES -->

  <div class="container-fluid article-container">
    <!-- this is where all of the scraped articles will appear -->
  </div>

<!-- END SCRAPED ARICLES -->

<!-- START FOOTER -->

<footer>
  <div class="container">
    <p>Scraping Only the Most Important Things -- News About Animals</p>
  </div>
</footer>


<!-- END FOOTER -->

<!-- SCRIPT FILES -->
<script src="../public/js/saved.js"